* {
  margin: 0;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  --light-gray: #eee;
  --light-teal: #9dcbcf;
  --teal: #308b94;
  --dark-teal: #1f5d63;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin-bottom: 20px;
  display: inline-block;
  text-transform: uppercase;
  color: var(--dark-teal);
}

@media all and (min-width: 600px) {
  h1 {
    margin-bottom: 40px;
  }
}

@media all and (min-width: 750px) {
  h1 {
    padding-bottom: 3px;
    border-bottom: solid 3px var(--dark-teal);
  }
}

p, li, input.form-control, textarea.form-control {
  font-size: 17px;
  color: var(--dark-teal);
}

h2, h3, h4, a, i {
  color: var(--teal);
}

h2 {
  margin-bottom: 15px;
}

a:hover {
  color: var(--dark-teal);
  text-decoration: none;
}

input.form-control, textarea.form-control {
  border-radius: 0;
  border-color: var(--teal);
}

input.form-control:focus,
textarea.form-control:focus {
  border-color: var(--teal);
  box-shadow: 0 0 0 0.2rem var(--light-teal);
}

.navbar {
  background-color: var(--teal);
}

.navbar-brand img {
  width: 40px;
  height: 40px;
}

.navbar-toggler {
  border: none;
  padding: 0;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("hamburger.svg");
}

.nav-link h4 {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 8px;
}

.nav-link.active h4 {
  padding-bottom: 2px;
}

@media all and (min-width: 850px) {
  .nav-link.active h4 {
    border-bottom: solid 2px white;
  }
}

button.btn.btn-primary.btn-lg {
  border-radius: 0;
  background-color: var(--teal);
  border: none;
  padding: 20px 25px;
  text-transform: uppercase;
}

button.btn.btn-primary.btn-lg:hover,
button.btn.btn-primary.btn-lg:active {
  background-color: var(--dark-teal);
}

button.btn.btn-primary.btn-lg {
  box-shadow: none;
} 

.page-content {
  padding: 5%;
  min-height: calc(100% - 76px);
  margin-bottom: -105px;
}

.page-content:after {
  content: "";
  display: block;
  height: 105px;
}

@media all and (min-width: 620px) {
  .page-content {
    margin-bottom: -90px;
  }

  .page-content:after {
    height: 90px;
  }
}

.home {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  max-width: 500px;
}

.home * {
  color: white;
}

.home h1 {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 30px;
}

.home p {
  margin-bottom: 30px;
}

@media all and (min-width: 600px) {
  .home p {
    margin-bottom: 40px;
  }
}

.home-page-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(40%);
}

.about .img-placeholder,
.about img {
  width: 100%;
  float: left;
  margin-bottom: 30px;
}

.about .img-placeholder {
  height: 515px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-teal);
}

.about .img-placeholder p {
  color: white;
}

@media all and (min-width: 600px) {
  .about .img-placeholder,
  .about img {
    width: calc(50% - 15px);
    margin-right: 50px;
  }
}

.footer {
  padding-left: 8px;
  padding-right: 8px;
  height: 105px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--teal);
}

@media all and (min-width: 620px) {
  .footer {
    height: 90px;
  }
}

.footer p,a {
  font-size: 16px;
  margin-bottom: 0px;
  color: white;
}

.footer a {
  border-bottom: solid 1px white;
}

.footer a:hover {
  color: white;
}

.content-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.services,
.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media all and (min-width: 1100px) {
  .testimonials {
    align-items: flex-start;
  }
}

.service {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.service.reverse {
  flex-wrap: wrap-reverse;
  align-items: flex-end;
}

.service img {
  margin-bottom: 30px;
  max-width: 100%;
}

.service ul {
  padding-left: 20px;
}

@media all and (min-width: 800px) {
  .service-description {
    width: 50%;
  }

  .service img {
    width: 50%;
    object-fit: contain;
  }

  .service:not(.reverse) .service-description,
  .service.reverse img {
    padding-right: 30px;
  }

  .service:not(.reverse) img,
  .service.reverse .service-description {
    padding-left: 30px;
  }
}

@media all and (min-width: 600px) {
  .service {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.testimonial {
  padding: 20px;
  margin: 0 20px 40px 20px;
  border: solid 1px var(--dark-teal);
  max-width: 290px;
  background-color: var(--light-gray);
}

.source {
  text-align: right;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 600;
}

.resources {
  display: flex;
  justify-content: center;
}

.resource {
  margin-bottom: 20px;
  display: flex;
}

.resource:hover * {
  cursor: pointer;
  color: var(--dark-teal);
}

.resource i {
  margin-right: 5px;
  font-size: 24px;
}

.resource h4 {
  margin-left: 5px;
}

.contact {
  max-width: 600px;
}
